
.dropdown {
    display: inline-block;
}

.dropdown__content {
    position: absolute;
}
.drop_header{
    display: block;
    width: 123px;
}
.dropdown--active .dropdown__content {
    display: block;
}
.dropdown__content {
    margin-top: 10px;
    border-top: rgba(0, 0, 0, 0.05) 1px solid;
    background: #ffffff;
    color: black;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    width: 150%;
}
.account-dropdown__segment {
    padding: 10px 15px;
    border-bottom: #e1e1e1 1px solid;
    display: block;
}
.dropdown__content ul{
    padding: 0;
}
.exteranl-popup{
    position: absolute;
    float: right;
    right: 0;
    cursor: pointer;
    background-color: #555;
    color: white;
    padding: 10px 0px;
    border: none;
    opacity: 0.8;
    font-size: 0.67em;
    margin-top: 1em;
}
.exteranl-popup:hover{
    opacity: 1;
}